<div class="container mt-3">
	<div class="row">
		<div class="col-md-4 mb-1">
			<div class="card">
				<div class="card-body">
					<% if user_signed_in? %>
					<h5 class="card-title"><%= current_user.name %></h5>
						<h6 class="card-subtitle mb-2 text-muted"><%= current_user.username %></h6>
						<p class="card-text">Edit your profile!</p>
						<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary mb-1 card-link" %>

					<% else %>
						<h5 class="card-title"><%= link_to "You must log in", signin_path %></h5>
						<p class="card-text">In order to view your profile you have to log in first. <%= link_to "Log in now", signin_path %></p>

					<% end %>


					<a href="#" class="card-link">About us</a>
					<a href="#" class="card-link">Privacy</a>

				</div>
			</div>
		</div>
		<div class="col-md-8">
			<h1>All tweets on the face of the earth</h1>
			<div class="card">
				<ul class="list-group list-group-flush">
					<% @tweets.each do |tweet| %>
					<li class="list-group-item">
						<p><strong><%= link_to tweet.user.username, user_path(tweet.user.username) %></strong>
						
						<% if user_signed_in? && tweet.user != current_user %>

							<% if current_user.following?(tweet.user) %>
								- <%= link_to "unfollow", unfollow_user_path(tweet.user.username), method: :delete %>
							<% else %>
								- <%= link_to "follow", follow_user_path(tweet.user.username), method: :create %>
							<% end %>

						<% end %>
						</p>
						<p><%= tweet.content %></p>
						<span style="font-size: small" class="text-muted">
							<%= link_to 'View', tweet, class: "card-link" %>

							<% if tweet.user == current_user %>
								<%= link_to 'Edit', edit_tweet_path(tweet), class: "card-link" %>
								<%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %>
							<% end %>
						</span>
					</li>
					<% end %>
				</ul>
			</div>


		</div>
	</div>
	
</div>