<div class="container mt-3">
	<div class="row">
		<div class="col-md-4 mb-1">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Your profile</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						<% if user_signed_in? %>
						<%= current_user.email %>
						<% else %>
						<%= link_to "Please log in.", signin_path %>
						<% end %>
					</h6>
					<p class="card-text">Edit your profile!</p>
					<a href="#" class="card-link">Profile settings</a>
					<a href="#" class="card-link">Privacy</a>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<% if user_signed_in? %>
				<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary btn-lg mb-1" %>
			<% end %>
			<div class="card">
				<ul class="list-group list-group-flush">
					<% @tweets.each do |tweet| %>
					<li class="list-group-item">
						<p><strong><%= link_to tweet.user.email, tweet %></strong></p>
						<p><%= tweet.content %></p>
						<% if tweet.user == current_user %>
						<div>
						<%= link_to 'Edit', edit_tweet_path(tweet), class: "card-link" %>
						
						<%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %>
						</div>
						<% end %>
					</li>
					<% end %>
				</ul>
			</div>


		</div>
	</div>
	
</div>