<% if user_signed_in? %>

<div class="jumbotron bg-gradient-warning jumbotron-fluid">
    <div class="container">
        <h1>Welcome back <%= current_user.name %>, you're signed in!</h1>

        <p>This app has a user session functionality which I borrowed from the commonly used Devise gem.</p>
    </div>
</div>

<% else %> 

<div class="jumbotron bg-gradient-warning jumbotron-fluid">
    <div class="container">
        <h1>Welcome to Nan's first Rails app...</h1>
        <p>Hey! My name's Nan... I am creating my first Rails app with the help of One Month Rails from Udemy. This is the first app I created using Ruby on Rails.</p>
        <%= link_to "Learn more »", about_path, class: "btn btn-primary btn-lg" %> 


    </div>
</div>

<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Tweeter</h2>
            <p>This app includes a Tweet resource which allows the User to create and modify their own tweets.</p>
            <p><%= link_to "Tweeter", tweets_path, class: "btn btn-primary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Users</h2>
            <p>I use Devise and ActiveAdmin to create and manage Users. These Users have their own Tweets and Posts! They also act as followers, so can follow and unfollow each other.</p>
            <p><%= link_to "Create account", signup_path, class: "btn btn-primary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Posts</h2>
            <p>I also created a Post resource which Users can create. These Posts also act as Votable, and thus are able to be upvoted and downvoted upon by users.</p>
            <p><%= link_to "Contact", contact_path, class: "btn btn-primary" %></p>
        </div>
    </div>
</div>
