<div class="container">
	<div class="row mt-3">
		<div class="col-12 offset-md-2 col-md-8">

			<div class="card">
				<div class="card-header"><%= @post.title %></div>
				<div class="card-body">
					<div class="card-text">
						<% if @post.url %>
						<p class="post-content"><%= link_to @post.url, @post.url, target: "_blank" %></p>
						<% end %>
						<% if @post.content %>
						<p class="post-content"><%= @post.content %></p>
						<% end %>
					</div>
					<div class="card-text">
						<p class="post-meta">By <strong><%= link_to @post.user.username, user_path(@post.user.username) %></strong> on <%= @post.created_at.strftime("%A %B %d, %Y") %></p>
					</div>
					<div class="card-text">
						<% if @post.user == current_user %>
						<%= link_to 'Edit', edit_post_path(@post), class: "card-link" %>
						<% end %>
						<%= link_to 'Back', posts_path, class: "card-link" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


