<!DOCTYPE html>
<html>
	<head>
		<title>Nan's Rails</title>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />  
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>

	<body>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container">
				<%= link_to "Nan Rails", root_path, class: "navbar-brand" %>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

				<div class="navbar-collapse collapse" id="topNav">
					
					<ul class="navbar-nav mr-auto">
						<!-- li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
						<li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li-->
						
						<li class="nav-item"><%= link_to "Readit", posts_path, class: "nav-link" %></li>
						<li class="nav-item"><%= link_to "Tweeter", tweets_path, class: "nav-link" %></li>
					</ul>

					<ul class="navbar-nav float-md-right">
					<% if user_signed_in? %>
						<li class="nav-item">
							<%= link_to "Twitfeed", feed_path, class: "nav-link" %>
						</li>

						<% if current_user.admin? %>
							<li class="nav-item">
								<%= link_to "Admin", admin_root_path, class: "nav-link" %>
							</li>
						<% end %>
							
						<li class="nav-item">
							<%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %>
						</li>

					<% else %>
						
						<li class="nav-item">
							<%= link_to "Sign in", signin_path, method: :get, class: "nav-link" %>
						</li>

						<li class="nav-item">
							<%= link_to "Register", signup_path, method: :get, class: "btn btn-primary nav-link" %>
						</li>
					<% end %>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- Flash Messages -->
		<% flash.each do |name, message| %>
			<%= content_tag(:div, message, class: "alert alert-info #{name}") %>
		<% end %>

		<!-- Page Content -->
		<%= yield %>
		
		<!-- Footer -->
		<footer class="small text-muted">
			<div class="container">
				<hr>
				<center>
					<p>© 2019 Nancy Nguyen. All Rights Reserved unless otherwise stated.</p>
				</center>
			</div>
		</footer>

		<script type="text/javascript">
			$(".navbar-toggler").click(function(){
				console.log("Button was clicked.");
			});

		</script>
	</body>
</html>
